form {
    width: 200px;
    margin: 20px auto;
}
input{
    width: 100%;
    padding: 10px;
}
.poke-card{
    position: relative;
    height: fit-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
    border-radius:4px;
    color: black;
    text-align: center;
    padding:10px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}
.img-container{
    position: relative;
    width: 180px;
    margin: 10px auto;
}
.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 15px;
}
.poke-types div{
    padding:5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}
.poke-img{
    width: 180px;
    border-radius: 50%;
}