*.class
/13-AppParqueadero/nbproject/private/
/13-AppParqueadero/build/
/13-AppPaqueadero/nbproject/private/
/13-AppPaqueadero/build/
/app_tareas/Codigo/dist/
/app_tareas/Codigo/build/
/PokeAPI/build/
/20-PokeAPI/build/
/20-PokeAPI/nbproject/private/
/20-Pokeapi/build/
/20-Pokeapi/nbproject/private/
/20-Pokeapi/dist/
/Netbeans/20-Pokeapi/nbproject/private/
/Netbeans/20-Pokeapi/build/
